@import "src/styles.scss";

.page {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.62;
    color: $font-base-color;
    &__title {
      text-align: center;
      font-size: 35px;
      font-weight: 600;
    }

    &__navbar {
      padding: 1%;
      & h1 {
        text-align: end;
        margin-top: 1%;
        font-weight: 600;
        font-size: 34px;
      }
      & img {
        width: 50%;
        text-align: start;
      }
    }
    &__hero-section {
      background-color: $color-tertiary;
      &__title {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.2;       
      }
      &__description {
        font-size: 16px;
        margin: 5% 0;
        & a {
          font-weight: 600;
          text-decoration: none;
          color: $color-primary;
          &:hover {
            color: $color-primary-hover;
          }
        }
      }
      &__banner {
        cursor: pointer;
        border-radius: 5px;
        background-color: black;
        box-shadow: -5px 10px 57px 0 $content-base-box-shadow;
        width: 100%;
        max-height: 100%;
        & iframe {
          width: 100%;
          height: 305px;
        }
        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          background: $color-primary-hover;
          border-radius: 5px 5px 0 0;
          padding: 2px;
          width: 100%;
          height: 55px;
          margin-left: 0;
          &--red {
            align-self:center;
            height: 15px;
            width: 15px;
            border-radius: 100%;
            background: red;
          }
          &--orange {
            height: 15px;
            width: 15px;
            align-self:center;
            border-radius: 100%;
            background: orange;
          }
          &--green {
            height: 15px;
            width: 15px;
            align-self:center;
            border-radius: 100%;
            background: green;
          }
          &--search {
            height: 25px;
            width: 70%;
            align-self:center;
            border-radius: 5px;
            background: white;
          }
          &--logo {
            height: 25px;
            width: 25px;
            background: red;
            align-self:center;          
          }
        }
      }
    }
    &__works-section {
      & a {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
      &__wrapper {
        margin-top: 86px;
      }
      &__card {
        border-radius: 11px;
        background-color: $color-tertiary;
        box-shadow: -5px 10px 57px 0 $content-base-box-shadow;
        padding: 52px 20px 20px;
        text-align: center;
        position: relative;
        height: 100%;
        &__circle {
          position: absolute;
          top: 0;
          left: 50%;
          background-color: $content-base-box-shadow;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          display: inline-block;
          overflow: hidden;
          transform: translate(-50%,-50%);
          &__inside {
            width: 90px;
            height: 90px;
            background-image: linear-gradient(to bottom right, #e400be,#ffa1f2);
            border-radius: 100%;
            position: absolute;
            display: table;
            top: 0;
            left: 50%;
            transform: translate(-50%, 5%);
            &__icon {
            display: table-cell;
            vertical-align: middle;
            color:white;
              &--fontawesome {
                font-size: 35px;
              }
            }
          }
        }
        &__title {
          font-size: 24px;
          font-weight: 700;
          margin: 5% 0;
        }
        &__description {
          text-align: left;
          &__code {
            text-align: left;
            font-size: 12px;
            white-space: pre-wrap;
            border-left: .3rem solid $color-primary;
            overflow-y: hidden;
            background: #f4f5f6;
          }
        }
      }
    }
    &__whyUseSass-section {
      background-color: $color-tertiary;
      &__content {
        font-size: 18px;
      }
    }
    &__footer-section {
      text-align: end;
      &__content {
        &--link {
          font-weight: 600;
          text-decoration: none;
          color: $color-primary;
          &:hover {
            color: $color-primary-hover;
          }
        }
      }
    }
  }
  
  // Exemplo de BEM
  .bloco {
    background-color: $color-secundary;
    border-left: .3rem solid $color-primary;
    &__elemento {
      font-size:16px;
      color: purple !important;
      font-weight: 600;
      &--modificador {
        color: pink !important;
      }
    }
  }