<div class="page">
  <div class="page__hero-section py-3">
    <div class="container">
      <div class="row py-4">
        <div class="col-6">
          <div class="page__hero-section__title">
            O que é SASS?
          </div>
        </div>
        <div class="col-6">
          <div class="page__hero-section__banner">
            <div class="page__hero-section__banner__header row">
              <div class="page__hero-section__banner__header--red"> </div>
              <div class="page__hero-section__banner__header--orange"> </div>
              <div class="page__hero-section__banner__header--green"> </div>
              <div class="page__hero-section__banner__header--search"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__works-section py-4 ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="page__title  mb-1">
            Como funciona o SASS?
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                    <i class="fas fa-search page__works-section__card__circle__inside__icon--fontawesome"></i>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              O Padrão BEM
            </p>
            <p class="page__works-section__card__description">
            Como fica o Html 
            </p>
            <pre class="page__works-section__card__description__code">
              &lt;div class="block block--mod"&gt;...&lt;/div&gt;
              &lt;div class="block block--size-big
                block--shadow-yes"&gt;...&lt;/div&gt;
            </pre>
          </div>
        </div>
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                    <i class="fas fa-shopping-cart page__works-section__card__circle__inside__icon--fontawesome"></i>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              Compre normalmente
            </p>
            <p class="page__works-section__card__description">
              Faça sua compra após acessar a loja através da Lemoney.
            </p>
          </div>
        </div>
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                <i class="fas fa-hand-holding-usd page__works-section__card__circle__inside__icon--fontawesome"></i>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              Pegue seu cashback
            </p>
            <p class="page__works-section__card__description">
              Após a confirmação da compra, o seu dinheiro de volta estará disponível assim que a loja liberar o resgate para você ter o cashback de verdade na sua conta.
            </p>
          </div>
        </div>
      </div>
      <div class="row page__works-section__wrapper justify-content-center">
        <div class="col-12 layout-center">
          <div class="button">
            <a href="#"> Quero cashback de verdade </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
